<div class="header">
    <div class="title">
        <span>SONOS</span>
    </div>
</div>
<div class="frame">
    <div class="content">
        <button (click)="play()" class="button">START</button>
        <button (click)="pause()" class="button">STOP</button>
        <button (click)="next()" class="button">NEXT</button>
    </div>
    <div class="sidebar">
        <div class="sidebaritem"><span>Test</span></div>
        <div class="sidebaritem"><span>Test</span></div>
        <div class="sidebaritem"><span>Test</span></div>
        <div class="sidebaritem"><span>Test</span></div>
        <div class="sidebaritem"><span>Test</span></div>
    </div>
</div>