<div class="header">
    <div class="title">
        <span>SONOS</span>
    </div>
    <button class="framebuttonround">+ GROUP</button>
</div>
<div class="frame">
    <div class="content">
        
    </div>
    <div class="sidebar">
        <div class="sidebaritem"><span>Wohnzimmer</span></div>
        <div class="sidebaritem"><span>Arbeitszimmer</span></div>
        <div class="sidebaritem"><span>Küche</span></div>
        <div class="sidebaritem"><span>Schlafzimmer</span></div>
    </div>
</div>
<div class="footer">
    <div class="title">
        <span>FOOTER</span>
    </div>
    <div class="buttons">
        <button (click)="play()" class="framebutton">START</button>
        <button (click)="pause()" class="framebutton">STOP</button>
        <button (click)="next()" class="framebutton">NEXT</button>
    </div>
    <button class="killbutton">KILL</button>
</div>