// Mixins
.flexDisplay(@display: flex) {
    display: -webkit-box;
	display: -moz-box;
	display: ~"-ms-@{display}box";
	display: ~"-webkit-@{display}";
	display: @display;
}

.flex(@grow: 0, @shrink: 1, @basis: auto) {
    -webkit-box-flex: @grow;
    -moz-box-flex: @grow;
    -webkit-flex: @grow @shrink @basis;
    -ms-flex: @grow @shrink @basis;
    flex: @grow @shrink @basis;
}

.flexDirectionColumn {
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.borderRadius(@radius: 0) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

// Color palette
@white: #FFFFFF;
@black: #000000;
@orange: #FF9900;
@purplelight: #CC99CC;
@bluegray: #9999CC;
@redbrown: #CC6666;
@beige: #FFCC99;
@lightblue: #9999FF;
@apricot: #FF9966;
@purple: #CC6699;
@orangelight: #F7C64A;

// Global styles
html, body {
    height: 100%;
    width: 100%;
    border: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    .flexDisplay;
}

// App
app {
    .flex(1, 1, 100%);
    background: @black;
    .flexDirectionColumn;
}

#header {
    .flex(0, 0, auto);
    .flexDisplay;
    margin: 10px;

    &::before {
        .flex(0, 0, auto);
        content: "";
        width: 50px;
        background: @orangelight;
        .borderRadius(20px 0px 0px 20px);
    }

    & > #title {
        .flex(1, 1, 100%);
        background: @purplelight;

        & > span {
            background: @black;
            color: @orangelight;
            font-size: 24pt;
            padding: 0px 10px 0px 10px;
        }        
    }

    &::after {
        .flex(0, 0, auto);
        content: "";
        width: 50px;
        background: @orangelight;
        border-left: 10px solid @black;
        .borderRadius(0px 20px 20px 0px);
    }    
}

// Buttons
.button {
    @background: @bluegray;

    background: @background;
    border: none;
    color: @black;
    font-size: 14pt;
    padding: 30px 40px 0px 40px;
    .borderRadius(30px);
    margin: 10px;

    &:focus {
        outline: none;
    }

    &:hover {
        background: spin(@background, 180);
    }

    &:active {
        background: spin(@background, 200);
    }
}