.flexDirectionColumn {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
html,
body {
  height: 100%;
  width: 100%;
  border: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
  color: #FFFFFF;
}
body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
app {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background: #000000;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 10px;
}
.header::before {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  content: "";
  width: 50px;
  background: #F7C64A;
  -webkit-border-radius: 20px 0px 0px 20px;
  -moz-border-radius: 20px 0px 0px 20px;
  border-radius: 20px 0px 0px 20px;
}
.header > .title {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  background: #CC99CC;
}
.header > .title > span {
  background: #000000;
  color: #F7C64A;
  font-size: 24pt;
  padding: 0px 10px 0px 10px;
  display: inline-block;
}
.footer {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 10px;
}
.footer::before {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  content: "";
  width: 50px;
  background: #F7C64A;
  -webkit-border-radius: 20px 0px 0px 20px;
  -moz-border-radius: 20px 0px 0px 20px;
  border-radius: 20px 0px 0px 20px;
}
.footer > .title {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.footer > .title > span {
  background: #000000;
  color: #F7C64A;
  font-size: 24pt;
  padding: 0px 10px 0px 10px;
  display: inline-block;
}
.footer > .buttons {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background: #CC99CC;
}
.footer > .killbutton {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-width: 125px;
  background: #e41414;
  border: none;
  color: #000000;
  font-size: 14pt;
  margin: 0px 25px 0px 10px;
  padding: 0px 20px 0px 20px;
  position: relative;
}
.footer > .killbutton:before {
  content: "";
  border-right: 10px solid #e41414;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -15px;
}
.footer > .killbutton:after {
  content: "";
  border-right: 5px solid #e41414;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -25px;
}
.footer > .killbutton:focus {
  outline: none;
}
.footer > .killbutton:hover,
.footer > .killbutton:active {
  background: #14e4e4;
}
.footer > .killbutton:hover:before,
.footer > .killbutton:active:before,
.footer > .killbutton:hover:after,
.footer > .killbutton:active:after {
  border-color: #14e4e4;
}
.frame {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.frame > .content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin-left: 10px;
}
.frame > .sidebar {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 170px;
}
.frame > .sidebar > .sidebaritem {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin: 10px 10px 0px 10px;
  background: #FF9966;
  position: relative;
  border: none;
  font-size: 12pt;
}
.frame > .sidebar > .sidebaritem.zone1 {
  background: #FFCC99;
}
.frame > .sidebar > .sidebaritem.zone2 {
  background: #CC99CC;
}
.frame > .sidebar > .sidebaritem.zone3 {
  background: #CC6666;
}
.frame > .sidebar > .sidebaritem:first-child {
  margin: 0px 10px 0px 10px;
}
.frame > .sidebar > .sidebaritem:focus {
  outline: none;
}
.frame > .sidebar > .sidebaritem:hover,
.frame > .sidebar > .sidebaritem:active {
  background: #66ccff;
}
.frame > .sidebar > .sidebaritem > span {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.button {
  background: #9999CC;
  border: none;
  color: #000000;
  font-size: 14pt;
  padding: 30px 40px 0px 40px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin: 10px;
}
.button:focus {
  outline: none;
}
.button:hover,
.button:active {
  background: #cccc99;
}
.framebutton {
  background: #9999CC;
  border: none;
  color: #000000;
  font-size: 14pt;
  padding: 0px 20px 0px 20px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-right: 10px solid #000000;
}
.framebutton:focus {
  outline: none;
}
.framebutton:hover,
.framebutton:active {
  background: #cccc99;
}
.framebuttonround {
  background: #F7C64A;
  border: none;
  color: #000000;
  font-size: 14pt;
  padding: 0px 20px 0px 20px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-border-radius: 0px 20px 20px 0px;
  -moz-border-radius: 0px 20px 20px 0px;
  border-radius: 0px 20px 20px 0px;
  min-width: 150px;
  margin: 0px 0px 0px 10px;
}
.framebuttonround:focus {
  outline: none;
}
.framebuttonround:hover,
.framebuttonround:active {
  background: #4a7bf7;
}
