.flexDirectionColumn {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flexJustifyContentCenter {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flexAlignItemsCenter {
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
html,
body {
  height: 100%;
  width: 100%;
  border: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
  color: #FFFFFF;
}
body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
app {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background: #000000;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 10px;
}
.header::before {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  content: "";
  width: 50px;
  background: #f7c64a;
  -webkit-border-radius: 20px 0px 0px 20px;
  -moz-border-radius: 20px 0px 0px 20px;
  border-radius: 20px 0px 0px 20px;
}
.header .title {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  background: #cc99cc;
}
.header .title > span {
  background: #000000;
  color: #f7c64a;
  font-size: 24pt;
  padding: 0px 10px 0px 10px;
  display: inline-block;
}
.header .title.right > span {
  padding: 0px 0px 0px 10px;
}
.header > .buttons {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.header > .buttons .framebutton {
  border-right: none;
  border-left: 10px solid #000000;
}
.footer {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 10px;
}
.footer::before {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  content: "";
  width: 50px;
  background: #f7c64a;
  -webkit-border-radius: 20px 0px 0px 20px;
  -moz-border-radius: 20px 0px 0px 20px;
  border-radius: 20px 0px 0px 20px;
}
.footer > .title {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.footer > .title > span {
  background: #000000;
  color: #f7c64a;
  font-size: 24pt;
  padding: 0px 10px 0px 10px;
  display: inline-block;
}
.footer > .buttons {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background: #cc99cc;
}
.footer > .killbutton {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-width: 125px;
  background: #e41414;
  border: none;
  color: #000000;
  font-size: 14pt;
  margin: 0px 25px 0px 10px;
  padding: 0px 20px 0px 20px;
  position: relative;
}
.footer > .killbutton:before {
  content: "";
  border-right: 10px solid #e41414;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -15px;
}
.footer > .killbutton:after {
  content: "";
  border-right: 5px solid #e41414;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -25px;
}
.footer > .killbutton:focus {
  outline: none;
}
.footer > .killbutton:hover,
.footer > .killbutton:active {
  background: #14e4e4;
}
.footer > .killbutton:hover:before,
.footer > .killbutton:active:before,
.footer > .killbutton:hover:after,
.footer > .killbutton:active:after {
  border-color: #14e4e4;
}
.coverimg {
  width: 100%;
}
.nextimg {
  margin-left: 20px;
}
.imageWrapper {
  position: relative;
  padding: 50px 30px 50px 30px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 35%;
  -ms-flex: 1 1 35%;
  flex: 1 1 35%;
}
.imageWrapper:before,
.imageWrapper:after {
  content: "";
  width: 20px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background: #cc6666;
}
.imageWrapper:before {
  left: 0px;
}
.imageWrapper:after {
  right: 0px;
}
.imageWrapper > .alarmIndicatortop {
  position: absolute;
  top: 0px;
  left: 30px;
  right: 30px;
  height: 15px;
  background: #cc6666;
}
.imageWrapper > .alarmIndicatortop:before {
  content: "";
  position: absolute;
  left: 30px;
  right: 30px;
  background: #cc6666;
  height: 10px;
  top: 20px;
}
.imageWrapper > .alarmIndicatortop:after {
  content: "";
  position: absolute;
  left: 50px;
  right: 50px;
  background: #cc6666;
  height: 5px;
  top: 35px;
}
.imageWrapper > .alarmIndicatorbottom {
  position: absolute;
  bottom: 0px;
  left: 30px;
  right: 30px;
  height: 15px;
  background: #cc6666;
}
.imageWrapper > .alarmIndicatorbottom:before {
  content: "";
  position: absolute;
  left: 30px;
  right: 30px;
  background: #cc6666;
  height: 10px;
  bottom: 20px;
}
.imageWrapper > .alarmIndicatorbottom:after {
  content: "";
  position: absolute;
  left: 50px;
  right: 50px;
  background: #cc6666;
  height: 5px;
  bottom: 35px;
}
.contentWrapper {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 65%;
  -ms-flex: 1 1 65%;
  flex: 1 1 65%;
  position: relative;
}
.infoWrapper {
  margin: 20px 0px 30px 0px;
  position: relative;
}
.infoWrapper:before {
  content: "";
  position: absolute;
  width: 10px;
  background: #f7c64a;
  top: 0px;
  bottom: 0px;
  left: -10px;
  border: 5px solid #000000;
}
.infoWrapper:after {
  content: "";
  position: absolute;
  width: 1px;
  top: 5px;
  bottom: 5px;
  left: 5px;
  border-left: 5px dashed #f7c64a;
}
.frame {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.frame > .content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  margin-left: 10px;
}
.frame > .sidebar {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 170px;
}
.sidebaritem {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin: 10px 10px 0px 10px;
  position: relative;
  border: none;
  font-size: 12pt;
  background: #ff9966;
}
.sidebaritem.zone1 {
  background: #ffcc99;
}
.sidebaritem.zone2 {
  background: #cc99cc;
}
.sidebaritem.zone3 {
  background: #cc6666;
}
.sidebaritem:first-child {
  margin: 0px 10px 0px 10px;
}
.sidebaritem:focus {
  outline: none;
}
.sidebaritem:hover,
.sidebaritem:active {
  background: #66ccff;
}
.sidebaritem > span {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.sidebaritem.PLAYING:before,
.sidebaritem.PLAYING:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 10px;
  left: 10px;
  height: 5px;
  background: #000000;
}
.sidebaritem.PLAYING:after {
  top: 15px;
  right: 30px;
  left: 30px;
}
h1,
h2,
h3,
h4 {
  color: #f7c64a;
  margin: 5px 10px 5px 20px;
}
.button {
  background: #9999cc;
  border: none;
  color: #000000;
  font-size: 14pt;
  padding: 30px 40px 0px 40px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin: 10px;
}
.button:focus {
  outline: none;
}
.button:hover,
.button:active {
  background: #cccc99;
}
.framebutton {
  background: #9999cc;
  border: none;
  color: #000000;
  font-size: 14pt;
  padding: 0px 20px 0px 20px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-right: 10px solid #000000;
}
.framebutton:focus {
  outline: none;
}
.framebutton:hover,
.framebutton:active {
  background: #cccc99;
}
.framebuttonround {
  background: #f7c64a;
  border: none;
  color: #000000;
  font-size: 14pt;
  padding: 0px 20px 0px 20px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-border-radius: 0px 20px 20px 0px;
  -moz-border-radius: 0px 20px 20px 0px;
  border-radius: 0px 20px 20px 0px;
  min-width: 150px;
  margin: 0px 0px 0px 10px;
}
.framebuttonround:focus {
  outline: none;
}
.framebuttonround:hover,
.framebuttonround:active {
  background: #4a7bf7;
}
