<div class="header">
    <div class="title">
        <span>SONOS</span>
    </div>
    <button class="framebuttonround">+ GROUP</button>
</div>
<div class="frame">
    <div class="content">
        <div>
            <img class="coverimg" *ngIf="selectedPlayer" [src]="selectedPlayer.state.currentTrack.absoluteAlbumArtURI" alt="Cover art" />
        </div>
        <div>
            
        </div>
        <div>

        </div>
    </div>
    <div class="sidebar">
        <template ngFor #zone [ngForOf]="zones" #zoneindex="index">
            <template ngFor #member [ngForOf]="zone.members">
                <button class="sidebaritem zone{{zoneindex}}" (click)="select(member)"><span>{{member.roomName}}</span></button>
            </template>
        </template>
    </div>
</div>
<div class="footer">
    <div class="title" *ngIf="selectedPlayer">
        <span>{{selectedPlayer.roomName}}</span>
    </div>
    <div class="title" *ngIf="!selectedPlayer">
        <span>SELECT PLAYER</span>
    </div>
    <div class="buttons">
        <button (click)="play()" class="framebutton" *ngIf="selectedPlayer">START</button>
        <button (click)="pause()" class="framebutton" *ngIf="selectedPlayer">STOP</button>
        <button (click)="next()" class="framebutton" *ngIf="selectedPlayer">NEXT</button>
    </div>
    <button class="killbutton" (click)="kill()">KILL</button>
</div>