<div class="header">
    <div class="title">
        <span>SONOS</span>
    </div>
    <button class="framebuttonround">+ GROUP</button>
</div>
<div class="frame">
    <div class="content">
        {{zones}}
    </div>
    <div class="sidebar">
        <template ngFor #zone [ngForOf]="zones">
            <template ngFor #member [ngForOf]="zone.members">
                <button class="sidebaritem"><span>{{member.roomName}}</span></button>
            </template>
        </template>
    </div>
</div>
<div class="footer">
    <div class="title">
        <span>FOOTER</span>
    </div>
    <div class="buttons">
        <button (click)="play()" class="framebutton">START</button>
        <button (click)="pause()" class="framebutton">STOP</button>
        <button (click)="next()" class="framebutton">NEXT</button>
    </div>
    <button class="killbutton">KILL</button>
</div>