<div class="header" *ngIf="!showFlickrPhotoFrame">
    <div class="title">
        <span>SONOS</span>
    </div>
    <div class="buttons">
        <button (click)="volumeDown()" class="framebutton" *ngIf="selectedPlayer">DOWN</button>
        <div class="title right" *ngIf="selectedPlayer && selectedState">
            <span>VOL {{selectedState.volume}}</span>
        </div>
        <button (click)="volumeUp()" class="framebutton" *ngIf="selectedPlayer">UP</button>
    </div>
    <button class="framebuttonround" (click)="showFlickr()">Flickr</button>
</div>
<div class="frame" *ngIf="!showFlickrPhotoFrame">
    <div class="content">
        <div class="imageWrapper">
            <div class="alarmIndicatortop"></div>
            <img class="coverimg" *ngIf="selectedPlayer && selectedState && selectedState.currentTrack.uri" [src]="selectedState.currentTrack.absoluteAlbumArtURI" alt="Cover art" />
            <span *ngIf="!selectedPlayer || !selectedState || !selectedState.currentTrack.uri">STOPPED</span>
            <div class="alarmIndicatorbottom"></div>
        </div>
        <div class="contentWrapper">
            <div class="infoWrapper" *ngIf="selectedState && selectedState.currentTrack.uri">
                <h1>{{selectedState.currentTrack.title}}</h1>
                <h2>{{selectedState.currentTrack.artist}}</h2>
                <h3>{{selectedState.currentTrack.album}}</h3>
            </div>
            <div class="infoWrapper" *ngIf="selectedState && selectedState.currentTrack.uri && selectedState.nextTrack.uri">                
                <h4>NEXT UP</h4>
                <h4>{{selectedState.nextTrack.artist}}</h4>
                <img class="nextimg" height="70" [src]="selectedState.nextTrack.absoluteAlbumArtURI" alt="Next track" />
            </div>
        </div>
    </div>
    <div class="sidebar">
        <template ngFor #zone [ngForOf]="zones" #zoneindex="index" [ngForTrackBy]="trackByZones">
            <template ngFor #member [ngForOf]="zone.members" [ngForTrackBy]="trackByMembers">
                <button class="sidebaritem zone{{zoneindex}} {{member.state.zoneState}}" (click)="select(member)"><span>{{member.roomName}}</span></button>
            </template>
        </template>
    </div>
</div>
<div class="footer" *ngIf="!showFlickrPhotoFrame">
    <div class="title" *ngIf="selectedPlayer">
        <span>{{selectedPlayer.roomName}}</span>
    </div>
    <div class="title" *ngIf="!selectedPlayer">
        <span>SELECT PLAYER</span>
    </div>
    <div class="buttons">
        <div *ngIf="selectedPlayer && selectedState && selectedState.currentTrack.uri">
            <button (click)="prev()" class="framebutton">PREV</button>
            <button (click)="play()" class="framebutton" *ngIf="selectedState.zoneState !== 'PLAYING'">START</button>
            <button (click)="pause()" class="framebutton" *ngIf="selectedState.zoneState === 'PLAYING'">STOP</button>
            <button (click)="next()" class="framebutton">NEXT</button>
        </div>
    </div>
    <button class="killbutton" (click)="kill()">KILL</button>
</div>
<div class="flickrPhotoFrame" *ngIf="showFlickrPhotoFrame" (click)="hideFlickr()">
    <img class="flickrimg" [src]="currentFlickrPhoto" alt="Flickr photo" />
</div>